<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>WorkWise Html Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/line-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/line-awesome-font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/js/popper.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/lib/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/Content/js/script.js"></script>
</body>
</html>
